@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

h1 {
color: rgb(0, 132, 255);
font-family:'Open Sans', sans-serif;
font-size: 35px;
text-align: center;
}

h2 {
text-align: center;
color: rgb(110, 108, 108);
}

a {
text-decoration:none;
padding: 10px 20px;
}

p {
  padding-bottom: 10px;
}

body {
  background-color:#D9D564;
  font-family:'Open Sans', sans-serif;
  color:rgb(50,50,50);
  text-align: center;
}

.button-orange {
  background-color:sandybrown;
  border-radius:15px;
  padding: 15px 10px;

}

.button-orange:hover {
  background-color:indianred;
  transition:1s;
}

.img-circle{
  border-radius: 50%;
}

.list-inline {
  padding:0;
  list-style: none;
}

.list-inline li {
  display:inline-block;
  margin:0 5px;
}

div {
  background: white;
  padding: 50px;
  width: 650px;
  margin: 25px auto;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgb(129, 127, 127);
}

.fa-brands {
  color:sandybrown;
  font-size:40px;
}

.fa-brands:hover {
  color:indianred;
  transition:1s;
}


@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
